

.sessao1{
    background-image: url(../images/section1-bg.svg);
    height: 100vh;
    padding: 3% 0;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo1{
    font-weight: bold;
    text-align: center;
    width: 30vw;
    padding-top: 5vh;
}
.texto1{
    padding-top: 5vh;
    width: 55vw;
    text-align: center;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}

.imagens{
    display: flex;
    align-items: center;
}
.imagens img{
    height: 15vh;
    transition: all .5s;
}

.imagens img:hover{
    height: 20vh;
}

.botao-container{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

button a{
    text-decoration: none;
    color: #fff9;
}
.exp-faco{
    display: flex;
    justify-content: space-evenly;
}

.experiencia-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 5vh;
    width: 20vw;
}
.oque-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 5vh;
    width: 20vw;
}

@media (max-width:768px){
    .sessao1{
        padding-top: 15%;
    }
    .texto1{
        width: 70%;
    }
    .titulo1{
        width: 70%;
    }
    .imagens{
        flex-direction: column;
    }
    .imagens img{
        height: 100px;
    }
    .imagens img:hover{
        height: 160px;
    }
}

.sessao2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.titulo-sessao{
    display: flex;
    justify-content: center;
    padding: 5vh;
}

.projetos-titulo{
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.strange-container{
    display: flex;
    color: #000;
}
.strange-container img{
    height: 40vh;
    transition: all .5s;
}

.strange-container img:hover{
    height: 50vh;
}


.text-strange{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40vw;
    padding-left: 3vw;
}

.text-strange p{
    width: 70%;
}

.text-personagem p{
    width: 70%;
    padding-top: 5%;
}

.personagem-container{
    display: flex;
    color: #000;
    padding-top: 5vh;
}
.personagem-container img{
    height: 40vh;
    transition: all .5s;
}

.personagem-container img:hover{
    height: 50vh;
}

.text-personagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40vw;
    padding-left: 3vw;
}

.text-cem p{
    width: 70%;
    padding-top: 5%;
}

.text-cem p{
    width: 70%;
    padding-top: 5%;
}

.text-cem h1{
    font-size: 7rem;
}

.cem-container{
    display: flex;
    color: #000;
    padding-top: 5vh;
}
.cem-container img{
    height: 40vh;
    transition: all .5s;
}

.cem-container img:hover{
    height: 50vh;
}

.text-cem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40vw;
    padding-left: 3vw;
}

.text-cem p{
    width: 70%;
    padding-top: 5%;
    padding-bottom: 15%;
}

.sessao3{
    background-image: url(../images/section1-bg.svg);
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
}

.contatos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    gap: 3%;
}

button{
    color: #fff9;
}